#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LS(LG(LEFT))  &none      &kp LC(S)  &kp ENTER     &kp LC(F4)                                                    &kp LG(TAB)     &kp SPACE  &kp UP_ARROW  &kp LA(UP)  &kp LS(LG(RIGHT))
&kp LC(Y)         &kp LCTRL  &kp TAB    &kp LSHIFT    &kp LEFT_ALT  &kp KP_NUMLOCK         &none                    &msc SCRL_UP    &kp LEFT   &kp DOWN      &kp RIGHT   &kp LG(DOWN)
&kp LC(Z)         &kp LC(X)  &kp LC(C)  &kp LC(V)     &kp LEFT_WIN  &lt 6 PRINTSCREEN      &lt 7 F9                 &msc SCRL_DOWN  &none      &none         &none       &kp LG(UP)
&none             &none      &kp F5     &lt 8 DELETE  &mo 1         &mo 2                  &mt LCTRL K_APPLICATION  &lt 3 ENTER                                          &kp LA(F4)
            >;

            sensor-bindings = <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

        letter {
            bindings = <
&kp Q  &kp W        &kp E  &kp R             &kp T                                          &kp Y           &kp U             &kp I      &kp O        &kp P
&kp A  &mt LCTRL S  &kp D  &mt LEFT_SHIFT H  &mt LEFT_ALT G  &kp INT_HENKAN      &to 0      &mt LEFT_ALT J  &mt LEFT_SHIFT F  &kp K      &mt LCTRL L  &kp MINUS
&kp Z  &kp X        &kp C  &kp V             &mt LEFT_WIN B  &kp F7              &kp F8     &mt LEFT_GUI M  &kp N             &kp COMMA  &kp PERIOD   &kp TILDE
&none  &none        &none  &kp CAPS          &kp F2          &kp BACKSPACE       &kp SPACE  &lt 8 ENTER                                               &kp DELETE
            >;
        };

        NUM {
            bindings = <
&none  &none      &none    &none           &none                                     &kp ASTRK   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp SLASH
&none  &kp LCTRL  &kp TAB  &kp LEFT_SHIFT  &kp LEFT_ALT  &none      &to 0            &kp PLUS    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS
&none  &none      &none    &none           &kp LEFT_GUI  &none      &none            &kp EQUAL   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp COLON
&none  &none      &none    &none           &none         &none      &kp KP_NUMBER_0  &kp PERIOD                                                     &kp SEMICOLON
            >;
        };

        ARROW {
            bindings = <
&kp LC(PAGE_UP)   &none      &kp SLASH  &kp ASTERISK    &kp PERIOD                      &none           &none     &kp UP    &kp F4     &kp LC(PAGE_DOWN)
&kp LG(NUMBER_3)  &kp LCTRL  &kp TAB    &kp LEFT_SHIFT  &kp LEFT_ALT  &none      &to 0  &none           &kp LEFT  &kp DOWN  &kp RIGHT  &kp LG(NUMBER_1)
&kp LG(NUMBER_4)  &trans     &trans     &trans          &kp LEFT_WIN  &none      &none  &kp LEFT_SHIFT  &kp HOME  &none     &kp END    &kp LG(NUMBER_2)
&none             &none      &none      &kp DELETE      &kp F2        &none      &none  &none                                          &none
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &mkp MB1  &mkp MB3  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &mkp MB2  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };

        layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &to 8   &to 1   &to 2   &to 3
&trans  &trans  &trans  &trans  &trans  &trans      &to 0   &trans  &trans  &trans  &trans  &none
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &to 5
            >;
        };

        symbol {
            bindings = <
&kp LC(NUMBER_1)  &kp LC(NUMBER_4)  &kp LS(SPACE)  &none      &none                        &kp QUESTION     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AT_SIGN  &kp UNDERSCORE
&kp LC(NUMBER_2)  &kp LC(NUMBER_3)  &kp LC(I)      &kp LA(I)  &kp LA(J)  &none      &to 0  &kp EXCLAMATION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOLLAR   &kp AMPERSAND
&trans            &trans            &trans         &kp B      &none      &none      &none  &kp HASH         &kp LESS_THAN         &kp GREATER_THAN       &kp PERCENT  &kp INT_YEN
&none             &none             &none          &trans     &none      &none      &none  &none                                                                      &none
            >;
        };

        layer_9 {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T                    &kp Y  &kp U  &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp H  &kp G  &none      &none  &kp J  &kp F  &kp K      &kp L    &kp MINUS
&kp Z  &kp X  &kp C  &kp V  &kp B  &none      &none  &kp M  &kp N  &kp COMMA  &kp DOT  &kp TILDE
&none  &none  &none  &none  &none  &none      &none  &none                             &none
            >;
        };
    };
};
